<div class="container" style="display: flex; margin-left:1% ;width:auto;">
  <div class="card-icon">
    <img src="../../../assets/icons8-css3-144.png" alt="" />
    <p>CSS</p>
  </div>

  <div class="card-icon" style="text-align: left">
    <img src="../../../assets/icons8-html-144.png" alt="" />
    <p>Html</p>
  </div>

  <div class="card-icon" style="text-align: left">
    <img src="../../../assets/icons8-javascript-144.png" alt="" />
    <p>JavaScript</p>
  </div>

  <div class="card-icon" style="text-align: left">
    <img src="../../../assets/icons8-angularjs-144.png" alt="" />
    <p>Angular</p>
  </div>

  <div class="card-icon" style="text-align: left">
    <img src="../../../assets/icons8-node-js-144.png" alt="" />
    <p>Node-Js</p>
  </div>

  <div class="card-icon" style="text-align: left">
    <img src="../../../assets/icons8-git-144.png" alt="" />
    <p>Git</p>
  </div>
</div>
