<div class="container">
  <div class="card">
    <figure (click)="Ecommerce()">
      <img src="assets/Ecomerce.PNG" alt=""  />
      <div class="capa">
        <h3>Ecommerce</h3>
        <p>Angular</p>
        <p style="left: 20%">MongoDB</p>
        <p style="left: 35%">Express</p>
        <p style="left: 50%">Node.Js</p>
      </div>
    </figure>

    <figure (click)="Peliculas()">
      <img src="assets/API-MOVIE.PNG" alt="" />
      <div class="capa">
        <h3>Películas</h3>
        <p>Angular</p>
      </div>
    </figure>

    <figure (click)="Pokemones()"> 
      <img src="assets/Pokemones.PNG" alt="" />
      <div class="capa">
        <h3>Pokemones</h3>
        <p>Angular</p>
      </div>
    </figure>

    <figure (click)="The_Rick_and_Morty()">
      <img src="assets/rick.PNG" alt="" />
      <div class="capa">
        <h3>The Rick and Morty</h3>
        <p>Angular</p>
      </div>
    </figure>
  </div>
</div>
