<div class="perfil" style="margin: 20px">
  <div class="">
    <img
      src="../../../assets/Artboard 1 (1).png"
      alt=""
      style="float: right; margin-right: 50px; width: 40%; top: 10%"
    />
    <h1 style="margin-left: 15%; margin-top: 10%">Hi, I'm Miguel</h1>
    <h1
      style="
        margin-left: 15%;
        margin-top: 1%;
        color: rgb(16, 133, 228);
        font-size: 70px;
      "
    >
      Fronted Developer
    </h1>
    <p
      style="
        font-size: 30px;
        margin-top: 20px;
        font-weight: normal;
        margin-left: 15%;
      "
    >
      That loves creating web apps.
    </p>
  </div>

  <app-social-media></app-social-media>
</div>

<h3 style="margin-left: 16%; margin-top: 15%">About:</h3>
<app-about></app-about>

<h3 style="margin-left: 4%; margin-top: 15%">Tech Stack:</h3>
<app-tech-stack></app-tech-stack>

<h3 style="margin-left: 4%; margin-top: 15%">My projects!!</h3>
<app-card-project></app-card-project>
